<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Настройки подключения к БД -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/Users</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">qwerty</property>
        <property name="connection.pool_size">1</property>
        <property name="default_schema">public</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- SQL диалект, определяется платформой СУБД-->
        <property name="dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <!-- Включить автоматическое управление контекстом сессии -->
        <property name="current_session_context_class">thread</property>
        <!-- Отключение кеша второго уровня -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCachingRegionFactory</property>
        <!-- Вывод в консоль SQL-запросов -->
        <property name="show_sql">true</property>
        <!-- Мэппинг классов-->
        <mapping class="ru.sfedu.log4jproject.model.entity.TestEntity"/>
        <mapping class="ru.sfedu.log4jproject.model.entity.joined_table.JTDevice"/>
        <mapping class="ru.sfedu.log4jproject.model.entity.joined_table.CommJTDevice"/>
        <mapping class="ru.sfedu.log4jproject.model.entity.joined_table.MediaJTDevice"/>
        <mapping class="ru.sfedu.log4jproject.model.entity.mapped_superclass.MSDevice"/>
        <mapping class="ru.sfedu.log4jproject.model.entity.mapped_superclass.CommMSDevice"/>
        <mapping class="ru.sfedu.log4jproject.model.entity.mapped_superclass.MediaMSDevice"/>
        <mapping class="ru.sfedu.log4jproject.model.entity.single_table.STDevice"/>
        <mapping class="ru.sfedu.log4jproject.model.entity.single_table.CommSTDevice"/>
        <mapping class="ru.sfedu.log4jproject.model.entity.single_table.MediaSTDevice"/>
        <mapping class="ru.sfedu.log4jproject.model.entity.table_per_class.TPCDevice"/>
        <mapping class="ru.sfedu.log4jproject.model.entity.table_per_class.CommTPCDevice"/>
        <mapping class="ru.sfedu.log4jproject.model.entity.table_per_class.MediaTPCDevice"/>
    </session-factory>
</hibernate-configuration>